apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: incident-management-system
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/fakowajo123/incident-app-gitops # <--- REPLACE THIS LINE
    targetRevision: HEAD
    path: incident-app-chart # Path to the Helm chart directory
  destination:
    server: https://kubernetes.default.svc
    namespace: incident-system # We will create this namespace later
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
